<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="RESTAURANT" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="RESTAURANT" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="RESTAURANT" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="RESTAURANT" class="no-js"> <!--<![endif]-->
<head>
<base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv='cache-control' content='no-cache'>
  <meta http-equiv='expires' content='0'>
  <meta http-equiv='pragma' content='no-cache'>
  <title>Restaurant</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jquery -->
  <script src="restaurant-web/library/jquery/jquery-3.2.1.js"></script>
  <!-- jquery -->

  <script src="restaurant-web/library/noty/jquery.noty.js"></script>
  <script src="restaurant-web/library/noty/layouts/top.js"></script>
  <script src="restaurant-web/library/noty/layouts/topCenter.js"></script>
  <script src="restaurant-web/library/noty/themes/default.js"></script>
  <script src="restaurant-web/library/bootstrap/js/bootstrap.min.js"></script>
  <script src="restaurant-web/library/moment/min/moment.min.js"></script>
  <script src="restaurant-web/library/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="restaurant-web/library/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="restaurant-web/library/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
  <!-- Bootstrap -->

  <link rel="stylesheet" href="restaurant-web/app.css?ts=2555555">

  <!-- AngularJS -->
  <script src="restaurant-web/library/angular/angular.min.js"></script>
  <script src="restaurant-web/library/angular/angular-route.min.js"></script>
  <script src="restaurant-web/library/angular/angular-cookies.min.js"></script>
  <!-- AngularJS -->

  <!-- App -->
  <script src="restaurant-web/app.js?ts=2555555"></script>
  <script src="restaurant-web/pages/index.js?ts=2555555"></script>

  <!-- Backend -->
  <script src="restaurant-web/pages/backend/login/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/home/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/unit/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/employee/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/role/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/food/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/drink/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/unitdetail/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/position/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/table/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/kind/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/promotion/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/vendor/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/drink_po/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/drink_po_print/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/drink_po_receipt/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/backend/account/controller.js?ts=2555555"></script>

  <!-- Frontend -->
  <script src="restaurant-web/pages/frontend/login/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/frontend/home/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/frontend/menu/controller.js?ts=2555555"></script>
   <script src="restaurant-web/pages/frontend/reserve/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/frontend/payment/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/frontend/cookmenu/controller.js?ts=2555555"></script>
  <script src="restaurant-web/pages/frontend/drinkmenu/controller.js?ts=2555555"></script>
   <script src="restaurant-web/pages/frontend/report/controller.js?ts=2555555"></script>
     <script src="restaurant-web/pages/frontend/report_time/controller.js?ts=2555555"></script>
      <script src="restaurant-web/pages/frontend/report_year/controller.js?ts=2555555"></script>
       <script src="restaurant-web/pages/frontend/report_expense/controller.js?ts=2555555"></script>
  <!-- App -->

  </head>
  <body data-ng-controller="IndexController">

    <!-- backend -->
    <nav class="navbar navbar-inverse" ng-show="isBackend == true">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="restaurant-web/#/frontend/user_login">หน้าแรก</a> 

        </div>

         
        <!--cm แสดงเมนูทั้งหมด -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-left">

            <!--cm แสดงเมนูตามสิทธิ์ -->
             <li><a href="restaurant-web/#/backend/admin_employee" ng-show="privacyAccess.indexOf('admin_employee') != -1">พนักงาน</a></li>

            <li><a href="restaurant-web/#/backend/admin_position" ng-show="privacyAccess.indexOf('admin_position') != -1">ตำแหน่งงาน</a></li>

            <li><a href="restaurant-web/#/backend/admin_role" ng-show="privacyAccess.indexOf('admin_role') != -1">สิทธิ์การใช้งาน</a></li>

            <li><a href="restaurant-web/#/backend/admin_food" ng-show="privacyAccess.indexOf('admin_food') != -1">อาหาร</a></li>

            <li><a href="restaurant-web/#/backend/admin_drink" ng-show="privacyAccess.indexOf('admin_drink') != -1">เครื่องดื่ม <label ng-show="drinkNoti > 0" style="color: red;">(แจ้งเตือน)</label></a></li>

            <li><a href="restaurant-web/#/backend/admin_kind" ng-show="privacyAccess.indexOf('admin_kind') != -1">ประเภท</a></li>

            <li><a href="restaurant-web/#/backend/admin_unit" ng-show="privacyAccess.indexOf('admin_unit,') != -1">หน่วยหลัก</a></li>

            <li><a href="restaurant-web/#/backend/admin_unitdetail" ng-show="privacyAccess.indexOf('admin_unitdetail') != -1">การแปลงหน่วย</a></li>

            <li><a href="restaurant-web/#/backend/admin_promotion" ng-show="privacyAccess.indexOf('admin_promotion') != -1">โปรโมชั่น</a></li>

            <li><a href="restaurant-web/#/backend/admin_table" ng-show="privacyAccess.indexOf('admin_table') != -1">โต๊ะ</a></li>

            <li><a href="restaurant-web/#/backend/admin_vendor" ng-show="privacyAccess.indexOf('admin_vendor') != -1">บริษัทคู่ค้า</a></li>

            <li><a href="restaurant-web/#/backend/admin_drink_po" ng-show="privacyAccess.indexOf('admin_drink_po,') != -1">รายการสั่งซื้อ <label ng-show="newDrinkPO > 0" style="color: red;">({{newDrinkPO}})</label></a></li>

            <li><a href="restaurant-web/#/backend/admin_drink_po_receipt" ng-show="privacyAccess.indexOf('admin_drink_po_receipt') != -1">รายการรับ <label ng-show="newDrinkPOReceipt > 0" id="noti_receipt" style="color: red;">({{newDrinkPOReceipt}})</label></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <!--cm แสดงเมนูเข้าสู่ระบบหากยังไม่ login -->
            <li><a href="restaurant-web/#/backend/admin_login" ng-show="isLoggedIn == false">เข้าสู่ระบบ</a></li>
            <!--cm แสดงเมนูออกจากระบบหากยัง login แล้ว -->
            <li><a ng-click="backendLogout()" ng-show="isLoggedIn != false">ออกจากระบบ</a></li>
          </ul>
        </div>
  
      </div>
    </nav>

    <!-- frontend -->
     <nav class="navbar navbar-inverse" ng-show="isBackend == false" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="restaurant-web/#/frontend/user_login">หน้าแรก</a> 

        </div>

         
        <!--cm แสดงเมนูทั้งหมด -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

          <ul class="nav navbar-nav navbar-left">

            <!--cm แสดงเมนูตามสิทธิ์ -->
            <!--<li><a href="restaurant-web/#/frontend/user_home"  >Home</a></li>-->
          
            <li><a href="restaurant-web/#/frontend/user_menu" ng-show="isFrontendLoggedIn && privacyAccess.indexOf('user_menu') != -1">MENU</a></li>

            <li><a href="restaurant-web/#/frontend/user_reserve" ng-show="isFrontendLoggedIn && privacyAccess.indexOf('user_reserve') != -1">จองโต๊ะ</a></li>

            <li><a href="restaurant-web/#/frontend/user_payment" ng-show="isFrontendLoggedIn && privacyAccess.indexOf('user_payment') != -1">ชำระเงิน</a></li>

            <li><a href="restaurant-web/#/frontend/user_cookmenu" ng-show="isFrontendLoggedIn && privacyAccess.indexOf('user_cookmenu') != -1">รายการอาหาร</a></li>

             <li><a href="restaurant-web/#/frontend/user_drinkmenu" ng-show="isFrontendLoggedIn && privacyAccess.indexOf('user_drinkmenu') != -1">รายการเครื่องดื่ม</a></li>

            <li><a href="restaurant-web/#/frontend/user_report" ng-show="isFrontendLoggedIn && privacyAccess.indexOf('user_report') != -1">รายงานยอดขายทั้งหมด</a></li>

             <li><a href="restaurant-web/#/frontend/user_report_time" ng-show="isFrontendLoggedIn && privacyAccess.indexOf('user_report_time') != -1">รายงานยอดขายอาหาร</a></li>

              <li><a href="restaurant-web/#/frontend/user_report_year" ng-show="isFrontendLoggedIn && privacyAccess.indexOf('user_report_year') != -1">รายงานยอดขายประจำปี</a></li>

               <li><a href="restaurant-web/#/frontend/user_report_expense" ng-show="isFrontendLoggedIn && privacyAccess.indexOf('user_report_expense') != -1">รายงานรายจ่าย</a></li>

            

            <!--<li><a href="restaurant-web/#/backend/admin_food" ng-show="privacyAccess.indexOf('admin_food') != -1">อาหาร</a></li>

            <li><a href="restaurant-web/#/backend/admin_drink" ng-show="privacyAccess.indexOf('admin_drink') != -1">เครื่องดื่ม <label ng-show="drinkNoti > 0" style="color: red;">(แจ้งเตือน)</label></a></li>

            <li><a href="restaurant-web/#/backend/admin_kind" ng-show="privacyAccess.indexOf('admin_kind') != -1">ประเภท</a></li>

            <li><a href="restaurant-web/#/backend/admin_unit" ng-show="privacyAccess.indexOf('admin_unit,') != -1">หน่วยหลัก</a></li>

            <li><a href="restaurant-web/#/backend/admin_unitdetail" ng-show="privacyAccess.indexOf('admin_unitdetail') != -1">การแปลงหน่วย</a></li>

            <li><a href="restaurant-web/#/backend/admin_promotion" ng-show="privacyAccess.indexOf('admin_promotion') != -1">โปรโมชั่น</a></li>

            <li><a href="restaurant-web/#/backend/admin_table" ng-show="privacyAccess.indexOf('admin_table') != -1">โต๊ะ</a></li>

            <li><a href="restaurant-web/#/backend/admin_vendor" ng-show="privacyAccess.indexOf('admin_vendor') != -1">บริษัทคู่ค้า</a></li>

            <li><a href="restaurant-web/#/backend/admin_drink_po" ng-show="privacyAccess.indexOf('admin_drink_po,') != -1">รายการสั่งซื้อ <label ng-show="newDrinkPO > 0" style="color: red;">({{newDrinkPO}})</label></a></li>

            <li><a href="restaurant-web/#/backend/admin_drink_po_receipt" ng-show="privacyAccess.indexOf('admin_drink_po_receipt') != -1">รายการรับ <label ng-show="newDrinkPOReceipt > 0" id="noti_receipt" style="color: red;">({{newDrinkPOReceipt}})</label></a></li>
          </ul>-->

          <ul class="nav navbar-nav navbar-right">
            <!--cm แสดงเมนูเข้าสู่ระบบหากยังไม่ login -->
            <li><a href="restaurant-web/#/backend/admin_login" ng-show="isFrontendLoggedIn == false">เข้าสู่ระบบ</a></li>
            <!--cm แสดงเมนูออกจากระบบหากยัง login แล้ว -->
            <li><a ng-click="frontendLogout()" ng-show="isFrontendLoggedIn">ออกจากระบบ</a></li>
          </ul>
        </div>
  
      </div>
    </nav>


    <div ng-view></div>

  </body>
</html>