


<!-- Default panel contents -->

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-9">
    <form class="form-inline">
      <div>
    <label> แสดงรายงานประจำปี: </label>
     <select id = "year" class="form-control" >
      <option selected="selected" value="0">ทั้งหมด</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
    </select>

    

<div class="btn-group" role="group" aria-label="..." >
  <button type="Report" class="btn btn-success" data-toggle="modal" data-target="#addModal" ng-click="loadAddReportForm()">ออกรายงาน</button>
</div>
<div class="btn-group" role="group" aria-label="..." >
  <button type="Report" class="btn btn-primary" ng-click="printReport()">ปริ้นท์รายงาน</button>
</div>
</div> 
</div>
  </form>
  </div>
</div>
<br>
<br>
<div class="panel panel-default" align="center"> 
<div class="panel-heading " >รายงาน</div>

<!-- Table -->
 

<div class="table-responsive">
  
<table class="table table-striped table-bordered table-responsive" >

  <thead>
  <tr >
      <th >รายการ</th>
      <th>ม.ค.</th>
      <th>ก.พ.</th>
      <th >มี.ค.</th>
      <th >เม.ย.</th>
      <th >พ.ค.</th>
      <th >มิ.ย.</th>
      <th >ก.ค.</th>
      <th >ส.ค.</th>
      <th >ก.ย.</th>
      <th >ต.ค.</th>
      <th >พ.ย.</th>
      <th >ธ.ค.</th>
  </tr>
  </thead>
 <tbody ng-show="report.length > 0 ">

    <tr ng-repeat="obj in report">
      <td>{{obj.food_name}}</td>
      <td>{{obj.Jan}} {{obj.food_unit}}</td>
      <td>{{obj.Feb}} {{obj.food_unit}}</td>
      <td>{{obj.Mar}} {{obj.food_unit}}</td>
      <td>{{obj.Apr}} {{obj.food_unit}}</td>
      <td>{{obj.May}} {{obj.food_unit}}</td>
      <td>{{obj.Jun}} {{obj.food_unit}}</td>
      <td>{{obj.Jul}} {{obj.food_unit}}</td>
      <td>{{obj.Aug}} {{obj.food_unit}}</td>
      <td>{{obj.Sep}} {{obj.food_unit}}</td>
      <td>{{obj.Oct}} {{obj.food_unit}}</td>
      <td>{{obj.Nov}} {{obj.food_unit}}</td>
      <td>{{obj.Dec}} {{obj.food_unit}}</td>
    </tr>
 
  </tbody>
 
</table>
</div>
</div>

<div id="report-list">
<center>
  <div class="panel panel-default" style="width: 90%">
    <div class="panel-heading">
      <h1 class="panel-title" style="text-align: center;">ร้านครัวคุณหมู</h1>
    </div>
    <div class="panel-body">
      <center>
        <br/>
        <p>19/120 ต.ตลาดขวัญ อ.เมือง จ.นนทบุรี 10580</p>
        <p>โทร 02-456-8870 email: khunmoo@gmail.com</p>
        <br/>
        <h4 style="text-decoration: underline;">รายงานยอดขายประจำปี</h4>
      </center>

      <br/>

       <div class="panel panel-default" align="center"> 
      <div class="panel-heading " >รายงาน</div>

      <!-- Table -->
       

      <div class="table-responsive">
        
      <table class="table table-striped table-bordered table-responsive" >

        <thead>
  <tr >
      <th >รายการ</th>
      <th>ม.ค.</th>
      <th>ก.พ.</th>
      <th >มี.ค.</th>
      <th >เม.ย.</th>
      <th >พ.ค.</th>
      <th >มิ.ย.</th>
      <th >ก.ค.</th>
      <th >ส.ค.</th>
      <th >ก.ย.</th>
      <th >ต.ค.</th>
      <th >พ.ย.</th>
      <th >ธ.ค.</th>
  </tr>
  </thead>
 <tbody ng-show="report.length > 0 ">

    <tr ng-repeat="obj in report">
      <td>{{obj.food_name}}</td>
      <td>{{obj.Jan}} {{obj.food_unit}}</td>
      <td>{{obj.Feb}} {{obj.food_unit}}</td>
      <td>{{obj.Mar}} {{obj.food_unit}}</td>
      <td>{{obj.Apr}} {{obj.food_unit}}</td>
      <td>{{obj.May}} {{obj.food_unit}}</td>
      <td>{{obj.Jun}} {{obj.food_unit}}</td>
      <td>{{obj.Jul}} {{obj.food_unit}}</td>
      <td>{{obj.Aug}} {{obj.food_unit}}</td>
      <td>{{obj.Sep}} {{obj.food_unit}}</td>
      <td>{{obj.Oct}} {{obj.food_unit}}</td>
      <td>{{obj.Nov}} {{obj.food_unit}}</td>
      <td>{{obj.Dec}} {{obj.food_unit}}</td>
    </tr>
 
  </tbody>

       
      </table>
      </div>
      </div>

      <br/>

      <div class="row">
      <div class="col-md-6" style="text-align: left;">
      </div>
        <div class="col-md-6" style="text-align: right;">
          <p>ผู้ออกรายงาน ___________________________</p>
          <p style="margin-left: 60px;">________/_________/_________</p>
        </div>
      </div>

    </div>
  </div>
</center>
</div>

