

<div class="panel panel-default" align="center"> 
<!-- Default panel contents -->
<div class="panel-heading " >การชำระเงิน</div>

<!-- Table -->
<div class="table-responsive">
<table class="table table-striped table-bordered " >

  <thead>
  <tr >
      <th style="width: 30%;">โต๊ะ</th>
       <th style="width: 40%;">วันที่</th>
      <th style="width: 30%;">ชำระเงิน</th>
  </tr>
  </thead>
 <tbody >
  <tr ng-repeat="obj in OrderObject">
      <td>T{{obj.table_id}}</td>
      <td>{{obj.order_datetime}}</td>
      <td><button type="Add" class="btn btn-success full-width" data-toggle="modal" data-target="#addModal" ng-click="listOrder(obj.order_id)" >ชำระเงิน</button></td>
  </tr>
  
  </tbody>

  
  </tbody>
</table>
</div>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
<br>
<div class="modal-body">
  <form class="form-horizontal">

<div class="panel panel-default" align="center">
  <div class="panel-heading " ><h4>รายการที่สั่ง</h4></div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr > 
        <th style="width: 8%;">ลำดับ</th>
        <th style="width: 30%;">รายการ</th>
        <th style="width: 20%;">จำนวน</th>
        <th style="width: 20%;">ราคาต่อหน่วย</th>
        <th style="width: 20%;">ราคารวม</th>
        <!--<th style="width: 15%;">สถานะ</th>
        <th style="width: 10%;">Delete</th>-->
      </tr>
    </thead>
    <tbody ng-show="listOrderObject.length > 0 ">
      <tr ng-repeat="obj in listOrderObject">
        <td style="width: 8%;">{{$index+1}}</td>
      <td style="width: 30%;">{{obj.food_name}}</td>
      <td style="width: 20%;">{{obj.number}}</td>
      <td style="width: 20%;">{{obj.price}}</td>
      <td style="width: 20%;">{{obj.price*obj.number}}</td>
      <!-- <td style="width: 15%;">{{obj.status}}</td>
       <td style="width: 10%;"><button type="button" class="btn btn-sm btn-danger full-width" ng-click="deleteFood(obj.order_id,obj.food_id)">Delete</button></td>-->
      </tr>
 </tbody>
    <tbody ng-show="listOrderDrinkObject.length > 0 ">
      <tr ng-repeat="obj in listOrderDrinkObject">
       <td style="width: 8%;">{{$index+1}}</td>
      <td style="width: 30%;">{{obj.drink_name}}</td>
      <td style="width:  20%;">{{obj.number}}</td>
      <td style="width:  20%;">{{obj.price}}</td>
      <td style="width:  20%;">{{obj.price*obj.number}}</td>
      <!-- <td style="width: 15%;">{{obj.status}}</td>
        <td style="width: 10%;"><button type="button" class="btn btn-sm btn-danger full-width" ng-click="delete(0,obj.order_id,obj.drink_id)">Delete</button></td>-->
      </tr>
     
    
  </tbody>


</table>
</div>

<div class="form-group">
  <label class="control-label col-sm-3">ราคารวมทั้งหมด : </label>
  <div class="col-sm-9">
    <div class="input-group">
      <input type="text" id="total1" class="form-control"  disabled="disabled" placeholder="" aria-describedby="sizing-addon3" value="{{(totalprice+totalpricedrink)}}">

    </div>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-3">ราคารวมภาษี 7% : </label>
  <div class="col-sm-9">
    <div class="input-group">
      <input type="text" id="total2" class="form-control" disabled="disabled" placeholder="" aria-describedby="sizing-addon3" value="{{(totalprice + totalpricedrink) + ((totalprice + totalpricedrink) * 0.07)}}">
    </div>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-3"> ส่วนลดโปรโมชั่น: </label>
  <div class="col-sm-9">
    <div class="input-group">
      <input type="text" id="total3" class="form-control" disabled="disabled" placeholder=""  aria-describedby="sizing-addon3" value="{{(discount + discountdrink)}}">
    </div>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-3"> ยอดรวมสุทธิ: </label>
  <div class="col-sm-9">
    <div class="input-group">
      <input type="text" id="total4" class="form-control" disabled="disabled" placeholder=""  aria-describedby="sizing-addon3" value="{{(tatal + tataldrink)}}">
    </div>
  </div>
</div>

 <div class="form-group">
  <label class="control-label col-sm-3">จำนวนเงิน : </label>
  <div class="col-sm-9">
    <div class="input-group">
      <input type="text" id="numberprice" class="form-control" placeholder="" aria-describedby="sizing-addon3" ng-keyup="calculatetotalpricechange()" value="{{(numberprice)}}">
    </div>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-3">เงินทอน : </label>
  <div class="col-sm-9">
    <div class="input-group">
      <input type="text" id="changeprice" class="form-control" placeholder="" disabled="disabled" aria-describedby="sizing-addon3" value="{{(changeprice)}}">
    </div>
  </div>
</div>
</form>
</div>


<div id="report-list">

<div class="panel panel-default" align="center">
  <div class="panel panel-default" style="width: 90%">
    <div class="panel-heading">
      <h1 class="panel-title" style="text-align: center;">ร้านครัวคุณหมู</h1>
    </div>
    <div class="panel-body">
      <center>
        <br/>
        <p>19/120 ต.ตลาดขวัญ อ.เมือง จ.นนทบุรี 10580</p>
        <p>โทร 02-456-8870 email: khunmoo@gmail.com</p>
        <br/>
        <h4 style="text-decoration: underline;">ใบเสร็จรับเงิน</h4>
      </center>

      <br/>

       <div class="panel panel-default" align="center"> 
      <div class="panel-heading " ></div>

      <!-- Table -->
       

      <div class="table-responsive">

  <table class="table table-striped table-bordered">
    <thead>
      <tr > 
        <td colspan="3" rowspan="2" style="vertical-align: top; text-align: left;"></td>
        <td style="width: 15%;">เลขที่</td>
        <td style="width: 15%;">{{order_id}}</td>
      </tr>
      <tr > 
        <td style="width: 15%;">วันที่</td>
        <td style="width: 15%;">{{today}}</td>
      </tr>
    </thead>
    <thead>
      <tr > 
        <th style="width: 8%;">ลำดับ</th>
        <th style="width: 20%;">รายการ</th>
        <th style="width: 15%;">จำนวน</th>
        <th style="width: 15%;">ราคาต่อหน่วย</th>
        <th style="width: 15%;">ราคารวม</th>
      </tr>
    </thead>
    <tbody ng-show="listOrderObject.length > 0 ">
      <tr ng-repeat="obj in listOrderObject">
        <td style="width: 8%;">{{$index+1}}</td>
      <td style="width: 20%;">{{obj.food_name}}</td>
      <td style="width: 15%;">{{obj.number}}</td>
      <td style="width: 15%;">{{obj.price}}</td>
      <td style="width: 15%;">{{obj.price*obj.number}}</td>
      </tr>
 </tbody>
    <tbody ng-show="listOrderDrinkObject.length > 0 ">
      <tr ng-repeat="obj in listOrderDrinkObject">
       <td style="width: 8%;">{{$index+1}}</td>
      <td style="width: 20%;">{{obj.drink_name}}</td>
      <td style="width: 15%;">{{obj.number}}</td>
      <td style="width: 15%;">{{obj.price}}</td>
      <td style="width: 15%;">{{obj.price*obj.number}}</td>
      </tr>
     
    
  </tbody>
  <tbody>
    <tr>
      <td colspan="3"></td>
      <td style="font-weight: bold;">ราคารวมทั้งหมด</td>
      <td style="font-weight: bold;">{{(totalprice+totalpricedrink)}}</td>
    </tr>
    <tr>
    <td colspan="3"></td>
      <td style="font-weight: bold;">ราคารวมภาษี 7%</td>
      <td style="font-weight: bold;">{{(totalprice + totalpricedrink) + ((totalprice + totalpricedrink) * 0.07)}}</td>
    </tr>
    <tr>
    <td colspan="3"></td>
      <td style="font-weight: bold;">ส่วนลดโปรโมชั่น</td>
      <td style="font-weight: bold;">{{(discount + discountdrink)}}</td>
    </tr>
    <tr>
    <td colspan="3"></td>
      <td style="font-weight: bold;">ยอดรวมสุทธิ</td>
      <td style="font-weight: bold;">{{(tatal + tataldrink)}}</td>
    </tr>
    <tr>
    <td colspan="3"></td>
      <td style="font-weight: bold;">จำนวนเงิน</td>
      <td style="font-weight: bold;">{{(numberprice)}}</td>
    </tr>
    <tr>
    <td colspan="3"></td>
      <td style="font-weight: bold;">เงินทอน</td>
      <td style="font-weight: bold;">{{(changeprice)}}</td>
    </tr>
  </tbody>


</table>
</div>
      </div>

      <br/>

      <div class="row">
      <div class="col-md-6" style="text-align: left;">
      </div>
        <div class="col-md-6" style="text-align: right;">
          <p>ผู้รับเงิน ___________________________</p>
        </div>
      </div>
      </div>
      </div>
</div>
</div>

<!-- Body -->
<!-- Footer -->
<div class="modal-footer">

<button type="button" class="btn btn-primary" ng-click="savePrice()">ชำระเงิน</button>
<button type="button" class="btn btn-success" ng-click="printSlip()">ออกใบเสร็จ</button>
<button type="button"  class="btn btn-danger"  id="closemodal" data-dismiss="modal">ยกเลิก</button>

</div>



  </div>
</div>
</div>
</div>
<!-- Add Unit Modal -->
