  <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
  </form> <br><br><br>

  <div class="panel panel-default" align="center"> 
  <!-- Default panel contents -->
  <div class="panel-heading " >รายการเสนอซื้อ</div>

  <!-- Table -->
  <table class="table table-striped table-bordered " >

    <thead>
    <tr>
        <th style="width: 15%;">รหัสใบเสนอซื้อ</th>
        <th style="width: 40%;">วันที่เสนอซื้อ</th>
        <th style="width: 8%;">สถานะ</th>
        <th style="width: 8%;" ng-show="isManager == true">รายละเอียด</th>
        <th style="width: 8%;">ออกใบสั่งซื้อ</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="obj in listDrinkPOObject" >
        <th >{{obj.dp_id}}</th>
        <td>{{obj.dp_date}}</td>
        <td>{{obj.dp_approve_status}}</td>
        <td ng-show="isManager == true"><button type="button" class="btn btn-sm btn-default full-width" data-toggle="modal" data-target="#viewDrinkPOModal" ng-click="viewDrinkPO(obj.dp_id)">View</button></td>
        <td><button type="button" class="btn btn-sm btn-default full-width" data-toggle="modal" data-target="#viewDrinkPODocModal" ng-disabled="obj.dp_approved != true" ng-click="viewDrinkPODoc(obj.dp_id)">ออกใบสั่งซื้อ</button></td>
    </tr>
    
    </tbody>
</table>
</div>

<div class="btn-group" role="group" aria-label="..." >
  <button type="Add" class="btn btn-success" data-toggle="modal" data-target="#addModal" ng-click="loadAddDrinkPOForm()">Add</button>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="addModalLabel">สร้างใบเสนอซื้อ</h3>
      </div>
      <!-- Header -->

      <!-- Body -->
      <div class="modal-body">

        <form class="form-horizontal">

          <div class="form-group">
            <label class="control-label col-sm-3">เครื่องดื่ม</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select class="form-control" id="add_drink_id">
                  <option selected="selected">เลือกเครื่องดื่ม</option>
                  <option ng-repeat="obj in drink" value="{{obj.drink_id}}">{{obj.drink_name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">หน่วย</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select class="form-control" id="add_unit_id">
                  <option selected="selected">เลือกหน่วย</option>
                  <option ng-repeat="obj in unit" value="{{obj.unit_id}}">{{obj.unit_name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">บริษัท</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select class="form-control" id="add_vendor_id">
                  <option selected="selected">เลือกบริษัท</option>
                  <option ng-repeat="obj in vendor" value="{{obj.vendor_id}}">{{obj.vendor_name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">จำนวน</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="add_unit_number" class="form-control" placeholder="" aria-describedby="sizing-addon3" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">ราคาต่อหน่วย</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="add_unit_price" class="form-control" placeholder="" aria-describedby="sizing-addon3" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3"></label>
            <div class="col-sm-9">
              <div class="input-group">
                <button type="button" class="btn btn-primary" ng-show="isEditingItem==false" ng-click="addItem()">เพิ่ม</button>
                <button type="button" class="btn btn-info" ng-show="isEditingItem==true" ng-click="editingItemUpdate()">แก้ไข</button>
                &nbsp;
                <button type="button" class="btn btn-default" ng-click="resetItem()">ยกเลิก</button>
              </div>
            </div>
          </div>
          
        </form>

        <form class="form-horizontal">

          <div class="form-group">
            <label class="control-label col-sm-3" style="text-align: left; text-decoration: underline;"><h4>รายการเสนอซื้อ</h4></label>
            <label class="control-label col-sm-8"></label>
          </div>

          <div class="form-group">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                    <td style="width: 3%;">ลำดับ</td>
                    <td style="width: 13.8%;">ชื่อ</td>
                    <td style="width: 13.8%;">บริษัท</td>
                    <td style="width: 13.8%;">จำนวน</td>
                    <td style="width: 13.8%;">หน่วย</td>
                    <td style="width: 13.8%;">ราคา</td>
                    <td style="width: 13.8%;">แก้ไข</td>
                    <td style="width: 13.8%;">ลบ</td>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="obj in addPOObject">
                    <td style="width: 3%;">{{$index + 1}}</td>
                    <td style="width: 13.8%;">{{obj.drink_name}}</td>
                    <td style="width: 13.8%;">{{obj.vendor_name}}</td>
                    <td style="width: 13.8%;">{{obj.number}}</td>
                    <td style="width: 13.8%;">{{obj.unit_name}}</td>
                    <td style="width: 13.8%;">{{obj.unit_price}}</td>
                    <td style="width: 13.8%;"><button type="button" class="btn btn-sm btn-info full-width" ng-click="editItem($index)">แก้ไข</button></td>
                    <td style="width: 13.8%;"><button type="button" class="btn btn-sm btn-danger full-width" ng-click="deleteItem($index)">ลบ</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <!-- Body -->

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addDrinkPO()">เพิ่ม</button>
        <button type="button" id="close_modal_add" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
      </div>
      <!-- Footer -->

    </div>
  </div>
</div>
<!-- Add Unit Modal -->

<!-- Edit Unit Modal -->
<div class="modal fade" id="viewDrinkPOModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="viewModalLabel">รายการสั่งซื้อ</h3>
      </div>
      <!-- Header -->

      <!-- Body -->
      <div class="modal-body">

        <form class="form-horizontal">

          <div class="form-group">
            <label class="control-label col-sm-3">รหัสใบเสนอซื้อ</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="approve_dp_id" class="form-control" placeholder="" aria-describedby="sizing-addon3" disabled="disabled" value="{{selectedDrinkPOObject.dp_id}}">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">วันที่เสนอซื้อ</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="approve_dp_date" class="form-control" placeholder="" aria-describedby="sizing-addon3" disabled="disabled" value="{{selectedDrinkPOObject.dp_date}}">
              </div>
            </div>
          </div>

          <div class="form-group">
            <!-- Table -->
            <table class="table table-striped table-bordered " >
              <thead>
                <tr>
                    <th style="width: 14.3%;">ชื่อเครื่องดื่ม</th>
                    <th style="width: 14.3%;">บริษัทคู่ค้า</th>
                    <th style="width: 14.3%;">จำนวนเสนอ</th>
                    <th style="width: 14.3%;">หน่วย</th>
                    <th style="width: 14.3%;">ราคา</th>
                    <th style="width: 14.3%;">ราคารวม</th>
                    <th style="width: 14.3%;">คงเหลือใน stock</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="obj in selectedDrinkPODetailObject">
                    <td >{{obj.drink_name}}</td>
                    <td>{{obj.vendor_name}}</td>
                    <td><input type="text" id="dpd_idx_{{$index}}" ng-disabled="selectedDrinkPOObject.dp_approved == true" dpd_idx="{{$index}}" class="form-control" aria-describedby="sizing-addon3" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-keyup="editDrink($index)" value="{{obj.number}}"></td>
                    <td>{{obj.unit_name}}</td>
                    <td>{{obj.unit_price | number : 2}}</td>
                    <td>{{obj.unit_price * obj.number | number : 2}}</td>
                    <td>{{obj.drink_number}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">ราคารวมทั้งหมด</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="approve_totalprice" disabled="disabled" class="form-control" placeholder="" aria-describedby="sizing-addon3" value="{{totalPrice | number : 2}}">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">ภาษีมูลค่าเพิ่ม 7%</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="approve_totalprice_tax" disabled="disabled" class="form-control" placeholder="" aria-describedby="sizing-addon3" value="{{totalPrice * 0.07 | number : 2 }}">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">ยอดรวมสุทธิ</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="approve_totalprice_tax_include" disabled="disabled" class="form-control" placeholder="" aria-describedby="sizing-addon3" value="{{totalPrice + (totalPrice * 0.07) | number : 2 }}">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-8"></label>
            <div class="col-sm-4">
              <div class="input-group">
                <button type="button" ng-disabled="selectedDrinkPOObject.dp_approved == true" class="btn btn-success" ng-click="approve(selectedId)">อนุมัติ</button>
                &nbsp;
                <button type="button" ng-disabled="selectedDrinkPOObject.dp_approved == true" class="btn btn-danger" ng-click="reject(selectedId)">ไม่อนุมัติ</button>
              </div>
            </div>
          </div>

        </form>

      </div>
      <!-- Body -->

      <!-- Footer -->
      <div class="modal-footer">
          <button type="button" id="close_modal_view" class="btn btn-default" data-dismiss="modal">ปิด</button>
      </div>
      <!-- Footer -->
      
    </div>
  </div>
</div>
</div>
<!-- Edit Unit Modal -->

<!-- View drink po doc Modal -->
<div class="modal fade" id="viewDrinkPODocModal" tabindex="-1" role="dialog" aria-labelledby="viewDrinkPODocModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="viewDrinkPODocModalLabel">หน้าออกใบสั่งซื้อ</h3>
      </div>
      <!-- Header -->

      <!-- Body -->
      <div class="modal-body">

        <form class="form-horizontal">

          <div class="form-group">
            <label class="control-label col-sm-3">รหัสใบเสนอซื้อ</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="approve_dp_id" class="form-control" placeholder="" aria-describedby="sizing-addon3" disabled="disabled" value="{{selectedDrinkPOObject.dp_id}}">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">วันที่เสนอซื้อ</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="approve_dp_date" class="form-control" placeholder="" aria-describedby="sizing-addon3" disabled="disabled" value="{{selectedDrinkPOObject.dp_date}}">
              </div>
            </div>
          </div>

          <div class="form-group">
            <!-- Table -->
            <table class="table table-striped table-bordered " >
              <thead>
                <tr>
                    <th style="width: 50%;">บริษัทคู่ค้า</th>
                    <th style="width: 50%;">ใบสั่งซื้อ</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="obj in selectedDrinkPODocObject">
                    <td >{{obj.vendor_name}}</td>
                    <td><button type="button" class="btn btn-sm btn-default full-width" data-toggle="modal" data-target="#printDrinkPOModal" ng-click="printDrinkPO(obj.dp_id, obj.vendor_id)">ออกใบสั่งซื้อ</button></td>
                </tr>
              </tbody>
            </table>
          </div>

        </form>

      </div>
      <!-- Body -->

      <!-- Footer -->
      <div class="modal-footer">
          <button type="button" id="close_modal_view" class="btn btn-default" data-dismiss="modal">ปิด</button>
      </div>
      <!-- Footer -->
      
    </div>
  </div>
</div>
</div>
<!-- Edit Unit Modal -->

