  

  <div class="panel panel-default" align="center"> 
  <!-- Default panel contents -->
  <div class="panel-heading " >ข้อมูลการเข้ารับบริการ</div>

  <!-- Table -->
  <table class="table table-striped table-bordered " >

    <thead>
    <tr>
        <th style="width: 25%;">เลขที่โต๊ะ</th>
        <th style="width: 39%;">สถานะการใช้งาน</th>
        <th style="width: 20%;">เวลา</th>
        <th style="width: 8%;">แก้ไข</th>
        <th style="width: 8%;">ยกเลิก</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="obj in listTableZoneReserve">
        <th >{{obj.r_table}}</th>
        <td>{{obj.service_name}}</td>
        <td>{{obj.reserve_datetime}}</td>
        <td> <button type="button" class="btn btn-sm btn-info full-width" data-toggle="modal" data-target="#editModal" ng-click="editReserve(obj.reserve_id)">Edit</button></td>
        <td><button type="button" class="btn btn-sm btn-danger full-width" >Delete</button></td>
    </tr>
   
    </tbody>
</table>
</div>
<div class="btn-group" role="group" aria-label="..." >
  <button type="reserve" class="btn btn-success"  data-toggle="modal" data-target="#addModal" ng-click="getTable()">จองโต๊ะ</button>
</div>

<!-- หน้าจอการจอง -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="addModalLabel">รายละเอียดการจองโต๊ะ</h3>
      </div>
      <!-- Header -->

      <!-- Body -->

      <div class="modal-body">
        <button class="btn btn-info" type="button" ng-style="table_status_id == 1 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(1)">จองโต๊ะ</button>
          <button class="btn btn-info" type="button" ng-style="table_status_id == 2 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(2)">Walk in</button>
          <button class="btn btn-info" type="button" ng-style="table_status_id == 3 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(3)">รวมโต๊ะ</button><br>
        <div class="row">
          <div class="col-lg-10" ng-repeat="obj in listTableZone">
            <h4>โซน {{obj.zone_name}}</h4>
            <p style="text-align: center;">
              <!--
                ng-disabled="obj_table.table_status != null"
              -->
            <button ng-repeat="obj_table in obj.table" title="จำนวนที่นั่ง = {{obj_table.table_number}} ที่นั่ง" ng-disabled="table_status_id == 0 || obj_table.table_reserve == true" type="button" class="btn btn-default btn-lg" id="tab" value="{{obj_table.table_id}}" ng-style="(table_id.indexOf(obj_table.table_id) > -1 && {'background-color': '#FC7D61'} || obj_table.table_reserve == true && {'background-color': 'red'})"  ng-click="table(obj_table.table_id)">T{{obj_table.table_id}}</button>
          </div>
        
          
          </div>
<br>
         <textarea class="form-control" rows="3" id="detail" placeholder="รายละเอียด"></textarea><br>
          
          <!--<button class="btn btn-info" type="button" >ย้ายโต๊ะ</button>-->
        </div> 
<div class="modal-footer">
<button type="button" class="btn btn-primary" ng-click="saveTable()">บันทึก</button>
<button type="button"  class="btn btn-danger">ยกเลิก</button>
</div>
      </div>
    </div>
  </div>
    

    <!-- Edit  Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="editModalLabel">แก้ไขรายละเอียดการจองโต๊ะ</h3>
      </div>
      <!-- Header -->

      <!-- Body -->

      <div class="modal-body">
        <button class="btn btn-info" type="button" ng-style="table_status_id == 1 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(1)" >จองโต๊ะ</button>
          <button class="btn btn-info" type="button" ng-style="table_status_id == 2 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(2)">Walk in</button>
          <button class="btn btn-info" type="button" ng-style="table_status_id == 3 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(3)">รวมโต๊ะ</button>
          <button class="btn btn-info" type="button" ng-style="table_status_id == 4 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(4)">ย้ายโต๊ะ</button><br>
        <div class="row">
          <div class="col-lg-10" ng-repeat="obj in listTableZoneEdit">
            <h4>โซน {{obj.zone_name}}</h4>
            <p style="text-align: center;">
              <!--
                ng-disabled="obj_table.table_status != null"
              -->
            <button ng-repeat="obj_table in obj.table" title="จำนวนที่นั่ง = {{obj_table.table_number}} ที่นั่ง" type="button" class="btn btn-default btn-lg" id="tab" value="{{obj_table.table_id}}" ng-style="table_id.indexOf(obj_table.table_id) > -1 && {'background-color': '#FC7D61'}"  ng-click="table(obj_table.table_id)">T{{obj_table.table_id}}</button>
          </div>
        </div>
<br>
         <textarea class="form-control" rows="3" id="detail_edit" placeholder="รายละเอียด">{{comment_reserve}}</textarea><br>
          
          <!--<button class="btn btn-info" type="button" >ย้ายโต๊ะ</button>-->
        </div> 
<div class="modal-footer">
<button type="button" class="btn btn-primary" ng-click="updateReserve()">บันทึก</button>
<button type="button"  class="btn btn-danger">ยกเลิก</button>
</div>
      </div>
    </div>
  </div>