  

  <div class="panel panel-default" align="center"> 
  <!-- Default panel contents -->
  <div class="panel-heading " >ข้อมูลการเข้ารับบริการ</div>

  <!-- Table -->
  <table class="table table-striped table-bordered " >

    <thead>
    <tr>
       <th style="width: 20%;">รหัสการจอง</th>
        <th style="width: 20%;">เลขที่โต๊ะ</th>
        <th style="width: 25%;">สถานะการใช้งาน</th>
        <th style="width: 19%;">เวลา</th>
        <th style="width: 8%;">แก้ไข</th>
        <th style="width: 8%;">ยกเลิก</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="obj in listTableZoneReserve">
       <th >RS{{obj.reserve_id}}</th>
        <th >{{obj.r_table}}</th>
        <td>{{obj.service_name}}</td>
        <td>{{obj.reserve_datetime}}</td>
        <td> <button type="button" class="btn btn-sm btn-info full-width" data-toggle="modal" data-target="#editModal" ng-click="editReserve(obj.reserve_id)">Edit</button></td>
        <td><button type="button" class="btn btn-sm btn-danger full-width" ng-click="deleteReserve(obj.reserve_id)">Delete</button></td>
    </tr>
   
    </tbody>
</table>
</div>
<div class="btn-group" role="group" aria-label="..." >
  <button type="reserve" class="btn btn-success"  data-toggle="modal" data-target="#addModal" ng-click="getTable()">จองโต๊ะ</button>
</div>

<!-- หน้าจอการจอง -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="addModalLabel">รายละเอียดการจองโต๊ะ</h3>
      </div>
      <!-- Header -->

      <!-- Body -->

      <div class="modal-body">
        <button class="btn btn-info" type="button" ng-style="table_status_id == 1 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(1)">จองโต๊ะ</button>
          <button class="btn btn-info" type="button" ng-style="table_status_id == 2 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(2)">Walk in</button>
          <button class="btn btn-info" type="button" ng-style="table_status_id == 3 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(3)">รวมโต๊ะ</button><br>
          
          <br/>
          <div class="row" id="datetime" ng-show="table_status_id == 1">
            <label>วันที่: </label>
            <input type="text" id="reserve_date" class="datepicker" placeholder="" aria-describedby="sizing-addon3" value="">
            <label>เวลา: </label>
            <select id="reserve_time">
              <option selected="selected" value="10:00">10:00</option>
              <option value="11:00">11:00</option>
              <option value="12:00">12:00</option>
              <option value="13:00">13:00</option>
              <option value="14:00">14:00</option>
              <option value="15:00">15:00</option>
              <option value="16:00">16:00</option>
              <option value="17:00">17:00</option>
              <option value="18:00">18:00</option>
              <option value="19:00">19:00</option>
              <option value="20:00">20:00</option>
              <option value="21:00">21:00</option>
            </select>
          </div>

        <div class="row">
          <div class="col-lg-10" ng-repeat="obj in listTableZone">
            <h4>โซน {{obj.zone_name}}</h4>
            <p style="text-align: center;">
              <!--
                ng-disabled="obj_table.table_status != null"
              -->
            <button ng-repeat="obj_table in obj.table" title="จำนวนที่นั่ง = {{obj_table.table_number}} ที่นั่ง"  type="button" class="btn btn-default btn-lg" id="tab" value="{{obj_table.table_id}}" ng-style="(table_id.indexOf(obj_table.table_id) > -1 && {'background-color': '#FC7D61'} || obj_table.table_reserve_time_highlight == true && {'background-color': 'red'})"  ng-click="table(obj_table.table_id)">T{{obj_table.table_id}}</button>
          </div>
          
          </div>
<br>
         <textarea class="form-control" rows="3" id="detail" placeholder="รายละเอียด"></textarea><br>
          
          <!--<button class="btn btn-info" type="button" >ย้ายโต๊ะ</button>-->
        </div> 
<div class="modal-footer">
<button type="button" class="btn btn-primary" ng-disabled="updated_table == false"  ng-click="saveTable()">บันทึก</button>
<button type="button"  class="btn btn-danger" id="close_modal_add"  data-dismiss="modal">ยกเลิก</button>
</div>
      </div>
    </div>
  </div>
    

    <!-- Edit  Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="editModalLabel">แก้ไขรายละเอียดการจองโต๊ะ</h3>
      </div>
      <!-- Header -->

      <!-- Body -->

      <div class="modal-body">
        <button class="btn btn-info" type="button" ng-style="table_status_id == 1 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(1)" >จองโต๊ะ</button>
          <button class="btn btn-info" type="button" ng-style="table_status_id == 2 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(2)">Walk in</button>
          <button class="btn btn-info" type="button" ng-style="table_status_id == 3 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(3)">รวมโต๊ะ</button>
          <button class="btn btn-info" type="button" ng-style="table_status_id == 4 && {'background-color': '#FC7D61'}"  ng-click="tableStatus(4)">ย้ายโต๊ะ</button><br>
        
          <br/>
          <div class="row" id="datetime_edit" ng-show="table_status_id == 1 || table_status_id == 4">
            <label>วันที่: </label>
            <input type="text" id="reserve_date_edit" class="datepicker" placeholder="" aria-describedby="sizing-addon3" value="">
            <label>เวลา: </label>
            <select id="reserve_time_edit">
              <option selected="selected" value="10:00">10:00</option>
              <option value="11:00">11:00</option>
              <option value="12:00">12:00</option>
              <option value="13:00">13:00</option>
              <option value="14:00">14:00</option>
              <option value="15:00">15:00</option>
              <option value="16:00">16:00</option>
              <option value="17:00">17:00</option>
              <option value="18:00">18:00</option>
              <option value="19:00">19:00</option>
              <option value="20:00">20:00</option>
              <option value="21:00">21:00</option>
            </select>
          </div>

        <div class="row">
          <div class="col-lg-10" ng-repeat="obj in listTableZoneEdit">
            <h4>โซน {{obj.zone_name}}</h4>
            <p style="text-align: center;">
              <!--
                ng-disabled="obj_table.table_status != null"
              -->
            <button ng-repeat="obj_table in obj.table" title="จำนวนที่นั่ง = {{obj_table.table_number}} ที่นั่ง" type="button" class="btn btn-default btn-lg" id="tab" value="{{obj_table.table_id}}" ng-style="table_id.indexOf(obj_table.table_id) > -1 && {'background-color': '#FC7D61'}"  ng-click="table(obj_table.table_id)">T{{obj_table.table_id}}</button>
          </div>
        </div>
<br>
         <textarea class="form-control" rows="3" id="detail_edit" placeholder="รายละเอียด">{{comment_reserve}}</textarea><br>
          
          <!--<button class="btn btn-info" type="button" >ย้ายโต๊ะ</button>-->
        </div> 
<div class="modal-footer">
<button type="button" class="btn btn-primary" ng-click="updateReserve()">บันทึก</button>
<button type="button"  class="btn btn-danger">ยกเลิก</button>
</div>
      </div>
    </div>
  </div>



<button type="button" id="listTableButton" style="display: none;" class="btn btn-sm btn-info full-width" data-toggle="modal" data-target="#listTableModal" ng-click="listTable()">Listtable</button>

<div class="modal fade" id="listTableModal" tabindex="-1" role="dialog" aria-labelledby="listTableModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<div class="modal-header">
        <button type="button" id="close_modal_table_list" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="listTableModalLabel">รายละเอียดโต๊ะ</h3>
      </div>
      <!-- Header -->

      <!-- Body -->

      <div class="modal-body">
       <div class="row">

       <table class="table table-striped table-bordered " >

        <thead>
        <tr>
            <th style="width: 25%;">เวลา</th>
            <th style="width: 39%;">สถานะ</th>
            <th style="width: 20%;">จอง</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in tableTime">
            <th >{{obj.time}}</th>
            <td>{{(obj.is_busy == false ? 'ว่าง' : 'ไม่ว่าง' )}}</td>
            <td><button class="btn btn-default" ng-disabled="obj.is_busy == true" ng-style="obj.is_busy == true && {'background-color': 'red'}" ng-click="updateTableTime(obj.time)">จองโต๊ะ</button></td>
        </tr>
       
        </tbody>
    </table>
        </div>
      </div>
    </div>
  </div>