<div>
	<input type="text" name="search_promotion_id" id="search_promotion_id" placeholder="รหัสโปรโมชั่น"> <button class="btn btn-sm btn-primary" ng-click="searchPromotion()">ค้นหา</button>
</div>

<br>

<div class="panel panel-default" align="center"> 
  <!-- Default panel contents -->
  <div class="panel-heading " >รายการโปรโมชั่น</div>

  <!-- Table -->
  <div class="table-responsive">
  <table class="table table-striped table-bordered " >

    <thead>
    <tr>
        <th style="width: 8%;">รหัสโปรโมชั่น</th>
        <th style="width: 15%;">ชื่อโปรโมชั่น</th>
        <th style="width: 15%;">ราคาต่อเรื่อง</th>
        <th style="width: 13%;">คะแนนที่ใช้เป็นส่วนลด</th>
        <th style="width: 13%;">วันที่เริ่มใช้โปรโมชั่น</th>
        <th style="width: 10%;">สถานะ</th>
    </tr>
    </thead>
    <tbody>
   <tr ng-repeat="obj in promotionList">
          <th>{{obj.prm_id}}</th>
          <td>{{obj.name}}</td>
          <td>{{obj.ppc}}</td>
          <td>{{obj.ptd}}</td> 
          <td>{{obj.sdate}}</td>
          <td>{{(obj.status == '01' || obj.status == '1' ? 'ใช้งาน' : 'ไม่ใช้งาน')}}</td>
          
          <td> <button type="button" class="btn btn-sm btn-info full-width" data-toggle="modal" data-target="#editModal" ng-click="selectPromotion(obj.prm_id)">เลือกโปรโมชั่น</button></td>
      </tr>
       <!-- แสดงข้อมูล unit ทั้งหมด -->

    </tbody>
  </table>
</div>
  <!-- Table -->
</div>

   <!-- ปุ่มเพิ่มdrink -->
<div class="btn-group" role="group" aria-label="..." style="display: none;" >
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal" ng-click="loadAddMovieForm()">Add</button>
</div>



<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="editModalLabel">กลุ่มโปรโมชั่นทั้งหมด</h3>
      </div>
      <!-- Header -->

      <!-- Body ช่องๆที่ให้กรอก-->
      <div class="modal-body">

        <form class="form-horizontal">
          
          <div class="form-group">
            <!-- Table -->
			  <div class="table-responsive">
			  <table class="table table-striped table-bordered " >

			    <thead>
			    <tr>
			        <th style="width: 8%;">รหัสกลุ่มโปรโมชั่น</th>
			        <th style="width: 23%;">ชื่อกลุ่มโปรโมชั่น</th>
			        <th style="width: 23%;">ลำดับกลุ่มโปรโมชั่น</th>
			        <th style="width: 23%;">วันที่เริ่มใช้กลุ่มโปรโมชั่น</th>
			        <th style="width: 23%;">วันที่สิ้นสุดการใช้กลุ่มโปรโมชั่น</th>
			    </tr>
			    </thead>
			    <tbody>
			   <tr ng-repeat="obj in promotionGroupList">
			          <th>{{obj.prm_id}}</th>
			          <td>{{obj.gname}}</td>
			          <td>{{obj.gno}}</td>
			          <td>{{obj.sdate}}</td> 
			          <td>{{obj.edate}}</td>
			          
			          <td> <button type="button" class="btn btn-sm btn-info full-width" data-toggle="modal" data-target="#moviePromotionGroupModal" ng-click="selectPromotionGroup(obj.prm_id, obj.gno)">เลือกกลุ่มโปรโมชั่น</button></td>
			      </tr>
			       <!-- แสดงข้อมูล unit ทั้งหมด -->

			    </tbody>
			  </table>
			</div>
          </div>
          
        </form>

      </div>
    	<div class="modal-footer">
        <button type="button" id="close_modal_add" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
      </div>
      <!-- Footer -->

    </div>
  </div>
</div>


<div class="modal fade" id="moviePromotionGroupModal" tabindex="-1" role="dialog" aria-labelledby="moviePromotionGroupModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="moviePromotionGroupModalLabel">ภาพยนต์ที่อยู่ในกลุ่มโปรโมชั่นทั้งหมด</h3>
      </div>
      <!-- Header -->

      <!-- Body ช่องๆที่ให้กรอก-->
      <div class="modal-body">

        <form class="form-horizontal">
          
          <div class="form-group">
            <!-- Table -->
			  <div class="table-responsive">
			  <table class="table table-striped table-bordered " >

			    <thead>
			    <tr>			        
			    	<th style="width: 23%;">รหัสภาพยนต์</th>
			        <th style="width: 23%;">ชื่อเรื่อง</th>
			        <th style="width: 23%;">จำนวนสำเนา</th>
			    </tr>
			    </thead>
			    <tbody>
			   <tr ng-repeat="obj in moviePromotionGroupList">
			          <th>{{obj.mov_id}}</th>
			          <td>{{obj.name}}</td>
			          <td>{{obj.numcopy}}</td>
			          
			          <td> <button type="button" class="btn btn-sm btn-danger full-width" data-toggle="modal" ng-click="deleteMoviePromotionGroup(obj.prm_id, obj.gno, obj.mov_id)">ลบ</button></td>
			      </tr>
			       <!-- แสดงข้อมูล unit ทั้งหมด -->

			    </tbody>
			  </table>
			</div>
			</div>

			  <div class="btn-group" role="group" aria-label="..." >
			  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addMoviePromotionGroupModal" ng-click="loadAddMovieForm()">เพิ่มภาพยนต์</button>
			</div>
          </div>
          
        </form>

      </div>
    	<div class="modal-footer">
        <button type="button" id="close_modal_add" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
      </div>
      <!-- Footer -->

    </div>
  
</div>




<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="addModalLabel">เพิ่มรายละเอียดภาพยนต์</h3>
      </div>
      <!-- Header -->

      <!-- Body ช่องๆที่ให้กรอก-->
      <div class="modal-body">

        <form class="form-horizontal">

        	<div class="form-group">
            <label class="control-label col-sm-3">รหัสภาพยนต์</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="add_movie_id" class="form-control" placeholder="" aria-describedby="sizing-addon3" value="">
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label class="control-label col-sm-3">ชื่อภาพยนต์</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="add_movie_name" class="form-control" placeholder="" aria-describedby="sizing-addon3" value="">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">เนื้อเรื่องย่อ</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="add_movie_stories" class="form-control" placeholder="" aria-describedby="sizing-addon3" value="">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">หมวดหมู่</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select id="add_movie_cat">
                	<option ng-repeat="obj in cat" selected="selected" value="{{obj.cate_id}}">{{obj.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">จำนวนสำเนา</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="add_movie_numcopy" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="" aria-describedby="sizing-addon3" value="">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">สถานะ</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select id="add_movie_status">
                	<option selected="selected" value="01">ใช้งาน</option>
                	<option value="02">ไม่ใช้งาน</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">รหัสบาร์โค้ด</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" id="add_movie_barcode" class="form-control" placeholder="" aria-describedby="sizing-addon3" value="">
              </div>
            </div>
          </div>

        </form>

      </div>
    <div class="modal-footer">
        <button type="button" id="close_modal_add" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" ng-click="addMovie()">เพิ่ม</button>
      </div>
      <!-- Footer -->

    </div>
  </div>
</div>


