<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<div class="panel panel-default" align="center">
  <!-- Default panel contents -->
  <div class="panel-heading " >หน่วย</div>

  <!-- Table -->
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
          <th style="width: 8%;">รหัสหน่วย</th>
          <th style="width: 20%;">ชื่อหน่วยหลัก</th>
          <th style="width: 20%;">สถานะ</th>
          <th style="width: 6%;">แก้ไข</th>
          <th style="width: 6%;">ลบ</th>
      </tr>
    </thead>
    <tbody>

      <!-- แสดงข้อมูล unit ทั้งหมด -->
      <tr ng-repeat="obj in listUnitObject">
          <th>{{obj.unit_id}}</th>
          <td>{{obj.unit_name}}</td>
          <td>{{(obj.unit_status_id == 1 ? 'ใช้งาน' : 'ไม่ใช้งาน')}}</td>
          <td> <button type="button" class="btn btn-sm btn-info full-width" data-toggle="modal" data-target="#editModal" ng-click="editUnit(obj.unit_id)">Edit</button></td>
          <td><button type="button" class="btn btn-sm btn-danger full-width" ng-click="deleteUnit(obj.unit_id)">Delete</button></td>
      </tr>
      <!-- แสดงข้อมูล unit ทั้งหมด -->

    </tbody>
  </table>
  <!-- Table -->
</div>

<!-- ปุ่มเพิ่มหน่วย -->
<div class="btn-group" role="group" aria-label="..." >
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal" ng-click="loadAddUnitForm()">Add</button>
</div>
<!-- ปุ่มเพิ่มหน่วย -->

<!-- Add Unit Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="addModalLabel">เพิ่มรายละเอียดหน่วย</h3>
      </div>
      <!-- Header -->

      <!-- Body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-3">
            <p>ชื่อหน่วย</p>
            <p>&nbsp;</p>
            <p>สถานะ</p>
          </div>
          <div class="col-lg-9">
            <div class="input-group input-group-sm fullwidth">
                <input type="text" id="add_unit_name" class="form-control" placeholder="" aria-describedby="sizing-addon3" value="">
            </div>

            <p>&nbsp;</p>

            <div class="btn-group" role="group">

              <div class="btn-group" role="group">
                <select class="form-control" id="add_unit_status_id">
                  <option value="999">เลือกสถานะ</option>
                  <option value="1">ใช้งาน</option>
                  <option value="2">ไม่ใช้งาน</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Body -->

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" id="close_modal_add" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" ng-click="addUnit()">เพิ่มหน่วย</button>
      </div>
      <!-- Footer -->

    </div>
  </div>
</div>
<!-- Add Unit Modal -->

<!-- Edit Unit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="editModalLabel">แก้ไขรายละเอียดหน่วย</h3>
      </div>
      <!-- Header -->

      <!-- Body -->
      <div class="modal-body">

        <div class="row">

          <!-- ฝั่งซ้าย -->
          <div class="col-lg-3">
            <p>รหัสหน่วย</p>
            <p>&nbsp;</p>
            <p>ชื่อหน่วย</p>
            <p>&nbsp;</p>
            <p>สถานะ</p>
          </div>
          <!-- ฝั่งซ้าย -->

          <!-- ฝั่งขวา -->
          <div class="col-lg-9">
            <div class="input-group input-group-sm fullwidth">
                <input type="text" id="edit_unit_id" disabled="disabled" class="form-control" placeholder="" aria-describedby="sizing-addon3" value="{{selectedId}}">
            </div>

            <p>&nbsp;</p>

            <div class="input-group input-group-sm fullwidth">
                <input type="text" id="edit_unit_name" class="form-control" placeholder="" aria-describedby="sizing-addon3" value="{{selectedUnitObject.unit_name}}">
            </div>

            <p>&nbsp;</p>

            <div class="btn-group" role="group">
              <select class="form-control" id="edit_unit_status_id">
                <option value="999">เลือกสถานะ</option>
                <option value="1">ใช้งาน</option>
                <option value="2">ไม่ใช้งาน</option>
              </select>
            </div>
          </div>
          <!-- ฝั่งขวา -->

      </div>
      <!-- Body -->

      <!-- Footer -->
      <div class="modal-footer">
          <button type="button" id="close_modal_edit" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
          <button type="button" class="btn btn-primary" ng-click="updateUnit()">แก้ไขหน่วย</button>
      </div>
      <!-- Footer -->
      
    </div>
  </div>
</div>
<!-- Edit Unit Modal -->

