  

  <div class="panel panel-default" align="center"> 
  <!-- Default panel contents -->
  <div class="panel-heading " >ตำแหน่งพนักงาน</div>

  <!-- Table -->
  <table class="table table-striped table-bordered " >

    <thead>
    <tr>
        <th style="width: 14%;">รหัสตำแหน่ง</th>
        <th style="width: 30%;">ชื่อตำแหน่ง</th>
        <th style="width: 20%;">สิทธิการใช้งาน</th>
        <th style="width: 20%;">สถานะ</th>
        <th style="width: 8%;">แก้ไข</th>
        <th style="width: 8%;">ลบ</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="obj in listPositionObject">
        <th >{{obj.pos_id}}</th>
        <td>{{obj.pos_name}}</td>
        <td>{{obj.role_name}}</td>
        <td>{{(obj.pos_status_id == 1 ? 'ใช้งาน' : 'ไม่ใช้งาน')}}</td>
        <td> <button type="button" class="btn btn-sm btn-info full-width" data-toggle="modal" data-target="#editModal" ng-click="editPosition(obj.pos_id)">Edit</button></td>
        <td><button type="button" class="btn btn-sm btn-danger full-width" ng-click="deletePosition(obj.pos_id)">Delete</button></td>
    </tr>
    
    </tbody>
</table>
</div>

<div class="btn-group" role="group" aria-label="..." >
  <button type="Add" class="btn btn-success" data-toggle="modal" data-target="#addModal" ng-click="loadAddPositionForm()">Add</button>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="addModalLabel">เพิ่มรายละเอียดตำแหน่ง</h3>
      </div>
      <!-- Header -->

      <!-- Body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-3">
            <p>ชื่อตำแหน่ง</p>
            <p>&nbsp;</p>
            <p>ชื่อสิทธิการใช้งาน</p>
            <p>&nbsp;</p>
            <p>สถานะ</p>
          </div>
          <div class="col-lg-9">
            <div class="input-group input-group-sm fullwidth">
                <input type="text" id="add_pos_name" class="form-control" placeholder="" aria-describedby="sizing-addon3" value="">
            </div>

            <p>&nbsp;</p>

            <div class="btn-group" role="group">

              <div class="btn-group" role="group">
                <select class="form-control" id="add_pos_role_id">
                  <option ng-repeat="obj in listRolesObject" value="{{obj.role_id}}">{{obj.role_name}}</option>
                </select>
              </div>
            </div>

            <p>&nbsp;</p>

            <div class="btn-group" role="group">

              <div class="btn-group" role="group">
                <select class="form-control" id="add_pos_status_id">
                  <option value="999">เลือกสถานะ</option>
                  <option value="1">ใช้งาน</option>
                  <option value="2">ไม่ใช้งาน</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Body -->

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" id="close_modal_add" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" ng-click="addPosition()">เพิ่มตำแหน่ง</button>
      </div>
      <!-- Footer -->

    </div>
  </div>
</div>
<!-- Add Unit Modal -->

<!-- Edit Unit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="editModalLabel">แก้ไขรายละเอียดตำแหน่ง</h3>
      </div>
      <!-- Header -->

      <!-- Body -->
      <div class="modal-body">

        <div class="row">

          <!-- ฝั่งซ้าย -->
          <div class="col-lg-3">
            <p>รหัสตำแหน่ง</p>
            <p>&nbsp;</p>
            <p>ชื่อตำแหน่ง</p>
             <p>&nbsp;</p>
            <p>สิทธิการใช้งาน</p>
            <p>&nbsp;</p>
            <p>สถานะ</p>
          </div>
          <!-- ฝั่งซ้าย -->

          <!-- ฝั่งขวา -->
          <div class="col-lg-9">
            <div class="input-group input-group-sm fullwidth">
                <input type="text" id="edit_pos_id" disabled="disabled" class="form-control" placeholder="" aria-describedby="sizing-addon3" value="{{selectedId}}">
            </div>

            <p>&nbsp;</p>

            <div class="input-group input-group-sm fullwidth">
                <input type="text" id="edit_pos_name" class="form-control" placeholder="" aria-describedby="sizing-addon3" value="{{selectedPositionObject.pos_name}}">
            </div>

            <p>&nbsp;</p>

            <div class="btn-group" role="group">
              <select class="form-control" id="edit_pos_role_id">
                <option ng-repeat="obj in selectedRolesObject" value="{{obj.role_id}}">{{obj.role_name}}</option>
              </select>

               <p>&nbsp;</p>

            <div class="btn-group" role="group">
              <select class="form-control" id="edit_pos_status_id">
                <option value="999">เลือกสถานะ</option>
                <option value="1">ใช้งาน</option>
                <option value="2">ไม่ใช้งาน</option>
              </select>
            </div>
            </div>
          </div>
          <!-- ฝั่งขวา -->

      </div>
      <!-- Body -->

      <!-- Footer -->
      <div class="modal-footer">
          <button type="button" id="close_modal_edit" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
          <button type="button" class="btn btn-primary" ng-click="updatePosition()">แก้ไขตำแหน่ง</button>
      </div>
      <!-- Footer -->
      
    </div>
  </div>
</div>
<!-- Edit Unit Modal -->


