

<div class="panel panel-default" align="center"> 
<!-- Default panel contents -->
<div class="panel-heading " >รายการการสั่งอาหาร</div>

<!-- Table -->
<table class="table table-striped table-bordered " >

  <thead>
  <tr >
      <th style="width: 10%;">โต๊ะ</th>
       <th style="width: 25%;">รายการ</th>
      <th style="width: 10%;">จำนวน</th>
      <th style="width: 25%;">หมายเหตุ</th>
       <th style="width: 10%;">ทำ</th>
      <th style="width: 10%;">เสร็จ</th>
      <th style="width: 10%;">ยกเลิก</th>
  </tr>
  </thead>
 <tbody>
  <tr ng-repeat="obj in listOrderFoodObject">
      <td>T01</td>
      <td>{{obj.food_name}}</td>
      <td> {{obj.number}}</td>
      <td>{{obj.comment}}</td>
      <td> <button type="button" class="btn btn-sm btn-info full-width"  ng-click="cook(2,obj.order_id,obj.food_id)" ng-disabled="obj.status != null">ปรุงอาหาร</button></td>
      <td> <button type="button" class="btn btn-sm btn-info full-width" ng-click="cookfinish(1,obj.order_id,obj.food_id)" ng-disabled="obj.status != 2 ">เสร็จ</button></td>
      <td><button type="button" class="btn btn-sm btn-danger full-width" ng-click="cancel(0,obj.order_id,obj.food_id)" ng-disabled="obj.status == 1">ยกเลิก</button></td>
  </tr>
 
 
  
  </tbody>
</table>
</div>

